#principal {
    background:#e7e7d3;
}

.encabezados {
   
    background: #f4f4a9;
    
    
    width: 700px;
    text-align: center;
    margin:auto;
    
    
}


#main-new{
    font-weight: bold;
    font-size: 15px;
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#recomendaciones{
    float:right;
    width: 770px;
    background:#8395a7 ;
   padding: 20px;
   
    height: 300px;
}

#noticiainit {
    
    
    font-weight: 500;
    padding-right: 35px;
    padding-left:40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 350px;
    margin-left: 30px;
    margin-top: 25px;
   
}


#frase{
    padding:15px;
    
    width: 810px;
    float:right;
    height: 350px;
    margin-top:20px;
    background:black;
    color:white;
   
    
}

.imagen{
    margin-left: 30px;
    
    
    margin:auto;
}


.izquierda{
    
    background:#b5d9b9;

    
    width:25%;
    margin-top:20px;
    margin-left:30px;
    padding-left: 20px;
    float:left;
    height: 1500px;
    font-style: oblique;
    font-family: sans-serif;
    Font-size:16px;
    font-weight: bold;
    

    
}



.putin{
    
    width: 250px;
    margin-left: 50px;
    float:left;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;   
    margin-right:10px;
    margin-top: 0px;
}


#pie1{
    
    color:black;
    font-size: 12px;
    font-style: italic;
    margin-left: 40px;

}


#fecha1 {
    width: 100px;
    
    color:blue;
    font-size: 12px;
    font-style: italic;
    
    margin-left: 40px;
    margin-top:10px;
    

    
}

.enlace{
  
    margin-left: 40px;
    margin-top:10px;
    
}







#encizq{
    font-weight: bold;
    font-family: fantasy;
    font-size: 20px;
}











#central{
    
    width: 25%;
    margin-top:20px;
    margin-left: 100px;
    float:left;
    padding: 20px;
    height: 1300px;
    background:#90ad94;

    
}





#encabezado-central{
    
    font-size: 22px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#noticia-japon{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    color:blue;
}
#parrafo-japon{
    
    font-size: 13px;
}

#link-bbc{
    
    font-size: 12px;
    font-family: cursive;
    color:blue;
    
}



.derecha{
    
    width:25%;
    margin-top:20px;
    margin-right:30px;
    padding-left: 20px;
    float:right;
    height: 1700px;
    font-style: oblique;
    font-family: sans-serif;
    Font-size:16px;
    font-weight: bold;
    background:#6c826f;
    

}

#anuncios{
    margin-left: 75px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blue;
}

#coches{
    margin-left:40px ;
    font-size:18px ;
}

.toyota{
    width: 275px;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#fechatoyota{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 12px;
    font-family: sans-serif;
    color:blue;

}

#enlace-todos-los-autos{
    color:blue;
    margin-left: 30px;
    

}



#encabezados-alquileres{
    font-size: 17px;
    
}


#alquiler1{
    margin-left:20px
    width: 150px;
    font-size: 12px;
    color:blue;
    font-family: cursive;
    
}


#descripcion-piso1{
    font-size: 12px;
    
    margin-top: 2px;
    margin-left: 50px;
    width: 175px;
}


#piso-retiro{
    font-size: 14px;
    font-family: cursive;
}

#como-es-piso-retiro{

    font-size: 10px;
    color:blue;
    font-weight: bolder;
    font-style: oblique;
}

#formulario{
    padding:15px;
    margin-left: 30px;
    margin-top: 1570px;
    width: 300px;
    background:#b5d9b9;
    height:100px;
    margin-bottom: 50px;
   
    

    
}

#copyrights{ background:#F79F1F;
    color:white;
    padding:20px;
    width: 400px;
    margin-left:470px;
    clear:both;
    font-weight: bold;
    font-size: 22px;
    
}





















 





